<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eloem.vertretungsplan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CurrentPlanActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DisplayPlanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ListActivity"/>
        <activity
            android:name=".TimetableActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".CurrentPlanActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddLessonActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".TimetableActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".CurrentPlanActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" /> <!-- widget Stuff -->
        <receiver android:name=".widget.VerPlanWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/verplan_appwidget" />
        </receiver>

        <service
            android:name=".widget.ListViewWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>